<!-- project cleanup :There's one thing I forgot to clean up here (will be cleaned up later in the course). Feel free to do the cleanup right now though.
  <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-mid-12">

      <!- before Routing
         <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe' "></app-shopping-list> ->

      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>