<!--    before forms section
     <div class="row">
    <div class="col-xs-10">
        <!-THe below listner was in app-shpping-edit before service were impemnted 
            (ingredientAdded)="onIngredientAdded($event)" ->
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a href="#" class="list-group-item"
                style="cursor: pointer;"
                *ngFor="let ingredient of ingredients">
                {{ ingredient.name}} ({{ ingredient.amount }})               
            </a>
        </ul>
    </div>
</div>
  -->

  <div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a  class="list-group-item"
                style="cursor: pointer;"
                *ngFor="let ingredient of ingredients; let i = index"
                (click)="onEditItem(i)"
            >
                {{ ingredient.name}} ({{ ingredient.amount }})               
            </a>
        </ul>
    </div>
</div>